body {
  background-color: black;
  color: #F0F0F0;
}


p {
  margin-top: 10px;
  /*margin-bottom: 20px;*/
  color: #C8C8C8;
  /*font-weight: lighter;*/
}

p2 {
  font-size: 13px;
font-style: italic;
color: #707070;
}

.page-description{
  margin-top: 50px;
}

.title{
  margin-bottom: 40px;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: #42c42b;
  text-decoration: underline;
}



.row {
  margin-top: 50px;
  /*padding: 100;*/
}

.gallery-container {
  margin-bottom: 60px;
  margin-bottom: 100px;
}

/*iframe {
  height: 250px;
  width: 380px;
}*/


